{% extends 'layout.html' %}
{% block content %}

<section>
    <div class="card">
        <div class="card-body">Mascotas</div>
        <table class="table table-striped table-bordered w-100">
            <tbody>
                {% for mascota in pet_list %}
                <tr>
                    <td>{{ mascota.name }}</td> 
                    <td>{{ mascota.age }}</td>
                    <td>{{ mascota.pedigree }}</td>
                    <td>
                        <a href="#" class="btn btn-primary">Ver mas</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}